/* -Start of Navigation Section */

nav {
     background-color: #89D1FE;
}
.nav-spec {
    padding: 5px;
}

.logo-text {
    margin-left: 65px;
    text-transform: capitalize; 
    height: 40px;
    color: #ffffff; 
    letter-spacing: 3px;
}

a img {
    height: 45px;
    padding: 2px;
    margin-right: 8px;
}

.nav-options {
    margin-left: 30px; 
    color: #ffffff;
}

#nav-list {
    color: #ffffff;
}

.nav-item {
    padding: 5px;
    margin-right: 35px; 
    color: #ffffff;
}

.nav-link-item {
    color: #ffffff;
}

/* - End of Navigation Section */

/* -Start of Contact.html Page */

#contact-container {
    background: url("../images/form-image.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    height: 120vh; 
    width: 100%;
} 

.contact-form { 
    display:block;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #89D1FE;
    padding: 20px; 
    margin: 50px 0px 20px 0px; 
    width: 50%;
}







/* -Start of Footer Section*/

footer {
 bottom: 0;
 width: 100%; 
 height: fit-content;
 background-color: #89D1FE; 
 color: #ffffff;
}

.uppercase {
    text-align: center;
}

.copyright-header {
    font-weight: bold;
    text-decoration: underline; 
    text-align: left;
} 

.interested-footer {
    font-weight: bold;
    text-align: left; 
    padding-top: 8px;
    margin-top: 3px;
} 

.interested-info {
    padding: 5px;
    margin: 2px;
}

.social-header {
    font-weight: bold;
    padding: 8px 5px 5px 5px;
    margin: 3px 0px 10px 0px;
} 

.social-links { 
    padding: 5px;
    background-color: #ffffff;
    text-align: center; 
    line-height: 4px;
    border-radius: 50%; 
    margin: 2px;
} 

.list-unstyled {
    text-align: center;
}

/* -End of Footer Section*/