/* -Start of Navigation Section */

nav {
     background-color: 	#cdfccd;
}
.nav-spec {
    padding: 5px;
}

.logo-text {
    padding: 2px;
    margin: 0px 0px 5px 7px;
    text-transform: capitalize; 
    height: 40px;
    color: #4f8606;
    letter-spacing: 3px;
}

a img {
    height: 45px;
    padding: 2px;
    margin-right: 8px;
}

.nav-options {
    margin-left: 30px; 
    color: #4f8606;
}

#nav-list {
    color: #4f8606;
}

.nav-item {
    padding: 5px;
    margin-right: 35px; 
    color: #4f8606;
}

.nav-link-item {
    color: #4f8606;
}

/* - End of Navigation Section */


/* -Start of Contact Form Section */

#contact-container {
    background: url("../images/contact-image.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5; 
    height: 120vh;
} 

.contact-col {
    margin: auto; 
}

.contact-form { 
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    margin: 50px 0px 20px 0px; 
    width: 100%; 
}

.contact-heading {
    text-transform: capitalize;
    font-weight: 600;
    text-align: center; 
    padding: 2px;
    margin-bottom: 10px;
} 

.form-item {
    padding: 2px;
    margin: 5px;
}

/* -End of Contact Form Section */



/* -Start of Footer Section*/

footer {
 bottom: 0;
 width: 100%; 
 height: fit-content;
 background-color: #cdfccd;
 color: #4f8606;
}

.uppercase {
    text-align: center;
}

.copyright-header {
    font-weight: bold;
    text-decoration: underline; 
    text-align: left;
    padding-top: 8px;
    margin: 3px 0px 0px 10px ;
} 

.copyright-info {
    padding: 8px;
    margin-top: 2px;
}

.interested-footer {
    font-weight: bold;
    text-align: left; 
    padding-top: 8px;
    margin: 3px 0px 12px 10px;
} 

.btn-call {
    padding-top: 5px; 
    margin-left: 20px;
}
.social-header {
    font-weight: bold;
    padding: 8px 5px 0px 5px;
    margin: 3px 0px 5px 0px;
} 

.social-links { 
    padding: 7px;
    text-align: center; 
    border-radius: 50%; 
    margin: 7px;
    background-color: #8cdbf394;
} 

.list-unstyled {
    text-align: center;
}

/* -End of Footer Section*/